@import 'tailwindcss';

@layer base {
  :root {
    --primary-color: #f8f4ef;
    --secondary-color: #704c33;
    --tertiary-color: #dec9b6;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    @apply min-h-screen m-0 flex flex-col box-border font-normal text-base;
    font-family: 'Cormorant Garamond', serif;
  }

  @media (min-width: 768px) {
    body {
      font-size: 18px;
    }
  }

  @media (min-width: 1280px) {
    body {
      font-size: 20px;
    }
  }

  ul {
    @apply list-none m-0 p-0;
  }

  figure {
    @apply m-0;
  }

  img {
    @apply max-w-full h-auto object-contain;
  }

  a {
    @apply no-underline;
    color: inherit;
  }

  h2 {
    @apply m-0 p-5 text-[26px] font-semibold;
    color: var(--secondary-color);
  }

  @media (min-width: 768px) {
    h2 {
      @apply text-[28px];
    }
  }

  h3 {
    @apply m-0 p-5 text-[24px] font-semibold;
  }

  @media (min-width: 768px) {
    h3 {
      @apply text-[22px];
    }
  }

  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
  }
}
